deadlift.pkl
Down.mp4
ggg.mp4
pose_classification_model.h5
pose_classification_model01.h5
pose_classification_model02.h5
pose_classification_model03.h5
Up.mp4
Workout-Exercises Video.mp4
Workout-Exercises Video_3.mp4
Workout-Exercises Video_2.mp4